script(src="scripts/comic_put.dart", type="application/dart")

h1= title
p Welcome to #{title}

p Add a sweet comic to the collection:
form(action="comics", id="new-comic-form")
  p
    label
      = "Title"
      br/
      input(type="text", name="title", id="comic-title")

  p
    label
      = "Author"
      br/
      input(type="text", name="author", id="comic-author")

  p
    ="Format"
    p
      label
        input(type="checkbox", name="format", value="tablet", id="comic-table")
        ="Tablet"
    p
      label
        input(type="checkbox", name="format", value="dead-tree", id="comic-dead-tree")
        ="Dead Tree"

  p
    input(type="submit", value="Bazinga!")
